/*allgemein*/

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color:rgb(240, 238, 231); 
}

/* Top-Screen */
.Topscreen{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(71, 71, 71, 0.5),rgba(71, 71, 71, 0.5)), url(images/Background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
button{
    color: rgba(96,194,120,1);
    background: transparent;
    border: 2px solid rgba(96,194,120,1);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    font-family: sans-serif;
    width: fit-content ;
    transform: translateY(-25px);
}
button p{
    margin-left: 20px;
    margin-right: 20px;
}
button:hover{
    color: rgb(209, 209, 209) ;
    background: rgba(96,194,120,1);
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s ;
}
.text-box{
    position: absolute;
    top: 50%;
    right: 12.5%;
    transform: translateY(-50%);
    font-family: sans-serif;
    font-size: 75px;
    font-weight: 800;
    text-align: right;
}
h1{
    color: transparent;
    -webkit-text-stroke: 0.1vw rgb(155,159,161);
}
h1::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: fit-content;
    color: rgba(96,194,120,1);
    -webkit-text-stroke: 0vw rgb(155,159,161);
    border-right: 2px solid rgba(96,194,120,1);
    overflow: hidden;
    animation: animate 6s linear infinite;
}
@keyframes animate{
    0%, 10%, 100%
    {
        width: 0%;
    }
    70%, 90%
    {
        width: 99.5%;
    }
}

/* formatierunng nach TopScreen */

.Content {
    margin-top: 150px;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto; 
    padding-left: 25px;
    padding-right: 25px;
}

/* Concept Box */

.conceptbox {
    background-color: rgba(75, 130, 133, 0.9);
    border-radius: 20px;
    margin-bottom: 130px;
}

h2 {
    color: rgb(96,194,120);
    font-family: sans-serif;
    margin-top: 20px;
    font-size: 27.5px;
    margin-left: 25px;
}
.conceptbox p{
    color: rgb(240, 238, 231);
    font-size: 17px;
    line-height: 22px;
    font-family: sans-serif;
    margin: 5px 25px 25px 25px;
}

/* Dokumenten carousel */

.Dokumente {
    overflow: hidden;
    position: relative;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto; 
    margin-bottom: 150px;
}
.Dokumente h2{
    max-width: 950px;
    margin-left: auto;
    margin-right: auto; 
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 30px;
}
.items {
    display: flex;
    align-items: center;
    width: fit-content;
    animation: carouselAnim 15s infinite alternate linear;
}
.entry {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 300px;
    height: 200px;
    background: rgba(75, 130, 133, 0.9);
    margin: 1em;
    padding: .5em;
    border-radius: 10px;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.05);
}
.items p{
    text-align: center;
    padding: 1em;
    color: rgb(240, 238, 231);
    font-size: 17px;
    line-height: 22px;
    font-family: sans-serif;
}
.items img{
    max-width: 250px;
    height: 130px ;
    border-radius: 5px;
}
@keyframes carouselAnim {
    from {
        transform: translate(0,0);
    }
    to {
        transform: translate(calc(-115% + (5*300px)));
    }
}
.faders {
    width: 100%;
    position: absolute;
    height: 100%;
}
.left, .right {
    background: linear-gradient(to right, rgba(240, 238, 231) 0%,rgba(240, 238, 231,0) 100%);
    width: 17.5%;
    height: 100%;
    position: absolute;
    z-index: 200;
}
.right {
    right: 0;
    background: linear-gradient(to left, rgba(240, 238, 231) 0%,rgba(240, 238, 231,0) 100%);
}

/* Sicherheit */

.SicherheitBox{
    display: flex;
    border: 5px solid;
    border-radius: 20px;
    border-color: rgba(75, 130, 133, 0.9);
    margin-bottom: 150px;
}
.pic1{
    flex:0 0 300px;
}
.pic1 img{
    max-width: 100%;
    height: 430px;
}
.securityText{
    flex: 0 0 350px;
}
.securityText p{
    color: rgba(75, 130, 133, 1);
    font-size: 17px;
    line-height: 22px;
    font-family: sans-serif;
    margin: 10px 25px 25px 25px;
}
.pic2{
    flex: 0 0 300px;
}
.pic2 img{
    max-width: 100%;
    height: 430px;
}

